body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.header {
  color: white
};